/*-- scss:defaults --*/
// quarto-scss-analysis-annotation { "origin": "cosmo (builtin theme)" }

$theme: "cosmo" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$gold: #B39051;
$navy: #051E39;
$dark-gold: #8F713D;

$light-tan: #F9F6E5;
$buzz-yellow: #EAAA00;

$teal: #048A81;
$light-blue: #BBE6F2;
$green: #066034;
$purple: #660064;
$pink: #D90368;

$primary:       $gold !default;
$secondary:     $navy !default;
$success:       $green !default;
$info:          $teal !default;
$warning:       $pink !default;
$danger:        $purple !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.6 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color:    $gray-800 !default;
$link-color:    $dark-gold;
$code-color:    $teal;

// Fonts

$font-size-base:              1rem !default;
$line-height-base:            1.5 !default;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$font-family-sans-serif:    "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-serif:         "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight:      600 !default;

$headings-font-family:        $font-family-serif !default;
$h1-font-size:                $font-size-base * 3 !default;
$h2-font-size:                $font-size-base * 2.2 !default;

$headings-color: $navy;

// Navbar

$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($black, .9) !default;

$navbar-bg: $secondary;
$navbar-fg: $white;
$navbar-hl: $primary;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;

// Presentation-Specific Settings

$presentation-heading-font: $font-family-serif;

$presentation-font-size-root: 2em;
$presentation-h1-font-size: $presentation-font-size-root * 1.7 !default;
$presentation-h2-font-size: $presentation-font-size-root * 1.3 !default;

$presentation-heading-color: $navy;

/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Typography

body {
  -webkit-font-smoothing: antialiased;
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

// Navbar

.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 22px;
}

.navbar-title {
  font-size: 22px;
}

// Headings

.subtitle {
  padding-top: 0em !important;
  margin-top: 0em !important;
  font-size: 160%;
  color: $gold;
  font-weight: bold;
}

// Slide Deck embedding

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  height: 475px;
}
